body {
    color: #777777;
    background-image: url("../images/darkness/darkness.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5em;
} 

h2,h3,h5 {
    margin: 1rem 0;
    color:#4aaaa5;
    font-family: "Georgia", Times, "Times New Roman", serif;
}

a {
    text-align:center;
}

footer {
    width: 100%;
    height: 50px;
    line-height: 70px;
    border-top: 5px solid #4aaaa5;
    /* background: #666666; */
    color: #ffffff;
    text-align: center;
}

/* navigation bar style */
.custom_h1 {
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
}

.custom_nav{
    /* border-bottom: #4aaaa5 solid 1px; */
    background: black;
    box-shadow: 0 4px 8px 0 rgb(230, 240, 240), 0 6px 20px 0 rgb(230, 240, 240);
}

.fixed-top{
    position: fixed;
}

.nav_bnt {
    border-right:solid 1px #cccccc;
    padding:0;
    text-decoration: underline;
    text-decoration-color: white
}

/* portfilio card, image, and textbox style */
.custom_card {
    float: left;
    background: none
}


.custom_image {
    max-width: 100%;
    height: 19rem;
    float: left;
    position: relative;
}

.custom_image:hover {
    opacity: 0.3;
    /* visibility: hidden; */
}

.custom_text {
    color: #ffffff;
}

.card-body {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

/* style for githhub, linkedin, and stack-overflow icon */
.fa-github.fa-3x {
    position: relative;
    top: -.2em;
    padding: 0;
    font-size: 3em;
    color: #ffffff;
    background: black;
    width: 1em;
    text-align: center;
}

.fa-linkedin-in.fa-3x {
    position: relative;
    top: -.2em;
    padding: .1em;
    font-size: 3em;
    color: #ffffff;
    background-color: #0077B5;
    width: 1em;
    text-align: center;
  }

.fa-stack-overflow.fa-3x {
    position: relative;
    top: -.2em;
    padding: .2em;
    font-size: 3em;
    color: #ffffff;
    background-color: orange;
    width: 1em;
    text-align: center;
  }

/* submit button */
#bnt_color {
    background: #4aaaa5;
    border: #ffffff;
    border-radius: 10%;
}

.project_list:hover {
    background: #4aaaa5;
    color: white;
}

/* projects html */

img.d-block{
    width: 100%;
    height: 600px;
}

.project_list a{
    font-size: small;
}

.project_list a:hover {
    color: white;
}

.carousel-indicators li{
    background: #4aaaa5;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

label {
    color: #4aaaa5;
}

.input_box{
    width: 100%;
    background:none;
    border:none;
    border-bottom: solid white;
    color: white;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 0px black;
    border-bottom: red;
}

#project_detail:hover {
    background: #4aaaa5;
    color:white;
}